# JVM variables
JVM_MIN_MEMORY=2048m
JVM_MAX_MEMORY=3072m
JVM_TYPE=server

# Play variables
PLAY_HTTP_PORT=9000
PLAY_HTTP_ADDRESS=127.0.0.1
PLAY_CONFIG_FILE=/opt/horizon/etc/horizon.conf
PLAY_LOGGER_FILE=/opt/horizon/etc/horizon-logback.xml
PLAY_PID_FILE=/opt/horizon/var/run/horizon.pid
PLAY_HTTP_SECRET_KEY={{ horizon_play_http_secret_key }}

# Mongo variables
MONGODB_URI="{{ horizon_mongodb_uri }}"

# Horizon variables
HORIZON_NOTIFICATION_SMTP_HOST=127.0.0.1
HORIZON_HOSTNAME={{ horizon_hostname_node }}
HORIZON_DEFAULT_SSV_KEY={{ horizon_default_ssv_key }}
HORIZON_EVENT_SEAL_SECRET={{ horizon_event_seal_secret }}

# Akka nodes for HA
# All HA nodes in hostname:port format, comma separated
PEKKO_DISCOVERY_ENDPOINTS={% for node in horizon_nodes %}{{ node.hostname }}:{{ horizon_pekko_discovery_port }}{% if not loop.last %},{% endif %}{% endfor %}

# The index of this machine's node in the above list. Index starts at 0
PEKKO_MANAGEMENT_LOCAL={{ node_number }}
# The port used for communication between nodes, in hostname:port format
PEKKO_ARTERY={{ horizon_hostname_node }}:{{ horizon_pekko_artery_port }}

# x509 authentication header
CERTIFICATE_HEADER=SSL_CLIENT_CERT