# Define custom configuration for play/akka/mongo/horizon here
play.filters.hosts.allowed.4="{{ horizon_hostname_node1 }}"
play.filters.hosts.allowed.5="{{ horizon_hostname_node2 }}"
play.filters.hosts.allowed.6="{{ horizon_hostname_node3 }}"
play.filters.hosts.allowed.7="{{ load_balancer_hostname }}"