{% set start_index = 4 %}
{% for node in horizon_nodes %}
play.filters.hosts.allowed.{{ start_index + loop.index0 }}="{{ node.hostname }}"
{% endfor %}
{% if horizon_use_load_balancer | default(false) %}
play.filters.hosts.allowed.{{ start_index + horizon_nodes | length }}="{{ horizon_load_balancer_hostname }}"

{% endif %}

# Akka cluster split-brain resolver configuration
{% if horizon_nodes | length > 1 %}
akka.cluster.split-brain-resolver {
    active-strategy = "lease-majority"
    lease-majority {
      lease-implementation = "lease.mongo"
    }
}
{% endif %}